
.register-bg{
    display: flex;
    justify-content: center;
}



























































/* .register-flex{
    padding: 100px 0;
    display: flex;
    justify-content: center;
}
.register-form{
    background-color: rgb(219, 225, 243);
    width: 350px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.register-dev{
    display: flex;
    justify-content: center;
}
.register-input{
    margin: 10px auto;
    width: 250px;
    height: 40px;
} */