.footer-bg{
    background: rgb(0, 9, 48);
}
.footer-dev-bg {
    grid-gap: 20px;
    display: flex;
    justify-content: center;
}
 .footer-dev {
    height: 350px;
    width: 280px;
    color: antiquewhite;
    margin: auto;
    background: inherit;
} 
.footer-dev img{
    padding: 30px 30px 20px 0px ;
    width: 250px;
}
/* .footers-dev{
    height: 330px;
    width: 280px;
    margin: auto;
    padding: 10px;
    color: rgb(255, 225, 191);
    background: inherit;
}
.footers-dev li{
    margin-top: 7px;
}
.footers-dev img{
    padding: 0px 30px 20px 30px ;
     margin-left: 12px; 
} */
.footers-bottom{
    height: 70px;
    color: rgb(255, 227, 208);
    background: rgb(19, 0, 71);
    display: flex;
    align-items: center;
    justify-content: center;   
}
.footers-bottom span{
    color: rgb(228, 148, 0);
    font-weight: bold;
}
.footers-bottom p{
    margin-bottom: 0;
}
@media screen and (max-width:580px) {
    .footer-dev-bg {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:581px) and (max-width:900px) {
    .footer-dev-bg {
        padding: 0 70px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:901px) and (max-width:1180px) {
    .footer-dev-bg {
        padding: 0 190px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1181px) {
    .footer-dev-bg {
        padding: 0 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}