.hikvision-dev-bg{
    display: flex;
    grid-gap: 8px;
    justify-content: center;
}
.hikvision-dev-bg:hover{
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.hikvision-dev{
    position: relative;
    height: 500px;
    width: 250px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(214, 214, 213);
}
.hikvision-dev img{
    padding: 11px;
    transition: 1s;
    border-radius: 4px 4px 0 0;
}
.hikvision-dev img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.hikvision-btn{
    position:  absolute;
    bottom: 10px;
    width: 100%;
}
.hikvision-btn button{
    font-weight: bold;
    width: 90%;
    height: 35px;
    margin-left: 5%;
    border-radius: 4px;
    border: 1px solid rgb(148, 148, 253);
    background-color: rgb(221, 224, 250);
}
.hikvision-btn button:hover{
    background-color: rgb(0, 16, 160);
    color: aliceblue;
}
@media screen and (min-width:1300px){
    .hikvision-dev-bg{
        
    }
}
/********** Hikvision Copy start ***********/
.hikvision-dev-copy{
    position: relative;
    height: 370px;
    width: 250px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(214, 214, 213);
}
/*********** Hikvision Copy End ***********/